<%= form_for(@user) do |f| %>
  <%= render "errors/error_messages", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, size: 40, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.text_field :email, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </li>
    </ol>
    <p>
      <% if @user.new_record? %>
        <%= f.submit 'Create account', class: 'button' %>
        <%= link_to 'Cancel', products_path, class: 'button' %>
      <% else %>  
        <%= f.submit 'Update account', class: 'button'%>
        <%= link_to 'Cancel', user_path(@user), class: 'button' %>
      <% end %>  
    </p>
  </fieldset>
<% end %>