 <%= render 'layouts/flash' %>
  <h1>List of orders</h1>
  <% if @orders.empty? %>
      <h2>There are no orders!</h2> 
  <% else %> 
    <% @orders.each do |order| %>
        <article>
          <header>
            <h2>Order ID: <%= order.id %><h2>
            <h3>Order for user <%= order.user.name %></h3>
          </header>
          <table>
            <% order.product_items.each do |item| %>
              <li><%= item.quantity %>x <%= item.product.name %>: <%= item.total_price %></li>
            <% end %>
            <tr>
              <th>Order total:</th>
              <td><%= order.total %></td>
            </tr>
            <tr>
              <th>Delivery address:</th>
              <td><%= order.address %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= order.user.email %></td>
            </tr>
            <tr>
              <th>Payment type</th>
              <td><%= order.payment_type %></td>
            </tr>
            <tr>
              <th>Dispatched:</th>
              <td><%= order.dispatched %></td>
            </tr>
          </table>
        </article>
        <% if admin_user? %>
          <%= link_to "Edit order", edit_order_path(order) %> |
          <%= link_to "Delete order", order_path(order), method: :delete, data: { confirm: 'Are you sure you want to delete the order?' } %>
          <hr>
        <% end %>  
    <% end %>
  <% end %>  
    <%= link_to 'Back', products_path, class: 'button' %>