<%= render 'layouts/flash' %>
<% if logged_user %>
  <h2><%= logged_user.name%>'s cart</h2>
<% else %>
  <h2>Shopping cart</h2>
<% end %>  
<p>You have <%= pluralize(check_product_quantities(@cart), 'product')  %> in your shopping cart</p>
<table>  
<%= render 'form' %> 
<tr class="total_value">
  <td>Total: </td>
    <td class="tot"><%= number_to_currency(@cart.total_price(@cart.coupon), unit: "£") %></td>
</tr>	
</table>
<% if @cart.coupon %>
  <h2>Your coupon was redeemed</h2>
<% else %>
  <h2>Add coupon</h2><%= render 'form_add_coupon' %>
<% end %>  
<%= button_to 'Empty cart', cart_path(@cart), method: :delete, data: { confirm: 'Are you sure you want to empty the cart?' }, class: "button empty" %>
  