<h1>Order ID: <%= @order.id %></h1>
<h2>
  Hi <%= @order.user.name%>, This is an confirmation for the products you ordered: 
</h2>
<ul>
  <% @order.product_items.each do |item| %>
    <li><%= item.quantity %>x <%= item.product.name %>: <%= item.product.price %></li>
  <% end %>  
</ul>	
<h2>The total for the order was: <%= @order.total %></h2>
<p>The payment type chosen was: <%= @order.payment_type %></p>