<%= form_for(@category) do |f| %>
  <%= render "errors/error_messages", object: @category %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :level %>
        <%= f.select :level, Category::LEVEL, prompt: "Choose a level" %>
      </li>  
      <li>
        <%= f.label :parent %>
        <%= f.collection_select(:parent, Category.all, :id, :name, allow_blank: true, prompt: " ") %> 
      </li>
      <%= link_to 'check categories ids', categories_path %>
    </ol>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>