<%= render 'layouts/flash' %>
<% if admin_user? %>
  <h1>List of categories</h1>
  <h2>Top level categories(level 1)</h2>
  <% @category_level1.each do |categoryl1| %>
    <p><b>Category ID:</b> <%= categoryl1.id %> | <b>Category Name:</b> <%= categoryl1.name %> | <b>parent category:</b> None |
      <%= link_to 'Delete category', category_path(categoryl1), method: :delete, data: { confirm: 'Are you sure you want to delete this category and the related categories?' } %><p>
  <% end %>  
  <hr>	
  <h2>Categories Level 2</h2>
  <% @category_level2.each do |categoryl2| %>
    <p><b>Category ID:</b> <%= categoryl2.id %> | <b>Category Name:</b> <%= categoryl2.name %> | <b>parent category:</b> 
  	  <%= find_parent_name(categoryl2.parent) %> |
      <%= link_to 'Delete category', category_path(categoryl2), method: :delete, data: { confirm: 'Are you sure you want to delete this category and the related categories?' } %><p>
  <% end %>  
  <hr>
  <h2>Categories Level 3</h2>
  <% @category_level3.each do |categoryl3| %>
    <p><b>Category ID:</b> <%= categoryl3.id %> | <b>Category Name:</b> <%= categoryl3.name %> | <b>parent category:</b>  
  	  <%= find_parent_name(categoryl3.parent) %> |
      <%= link_to 'Delete category', category_path(categoryl3), method: :delete, data: { confirm: 'Are you sure you want to delete this category and the related categories?' } %><p>
  <% end %> 
  <hr>
  <h2>List of allowed category relations</h2>
  <p>All categories at level 2 and 3 must have a parent category associated to them. The list bellow shows the set of categories that can be assigned to a product. So whenever a product is created the sequence of categories must be equal to one of the sequence bellow.</p>
  <p><strong>Category level 1  >  Category level 2  >  Category level 3</strong></p>
  <% @category_level3.each do |categoryl3| %>
    <p> <%= find_first_parent(find_second_parent(categoryl3))%>   >   <%= find_second_parent(categoryl3) %>   >   <%= categoryl3.name %></p>
  <% end %> 
<% else %>
  <h1>Choose one category
  	<% @categories.each do |category| %>
      <li><%= link_to category.name, products_path(:chosen_category => category) %></li>
  	<% end %>
<% end %>  