
<%= render 'layouts/flash' %>
<% if !@product.categories.empty? %>
    <p><%= link_to @product.categories.first.name, products_path(:category => { :category1 => @product.categories.first.name }) %>  >  
       <%= link_to @product.categories.second.name, products_path(:category => { :category2 => @product.categories.first.name }) %>  >  
       <%= link_to @product.categories.third.name, products_path(:category => { :category3 => @product.categories.first.name }) %>  >  
       <%= @product.name %>
  <% end %>
<div id="left">
  <%= place_image(@product) %>
</div>  
<div id="right">
<article class="product">      
    <h3><%= @product.name %></h3>
    <p>
      <%= simple_format(word_wrap(@product.description, line_width: 30)) %>
    </p>
    <h3>Price</h3>
    <p><%= format_price(@product) %></p>
    <p>Average review: <%= place_rating(@product.average_star_reviews).html_safe %></p>
    <p>
    <% if admin_user? %>
      <p>Quantity: <%= @product.quantity %></p>
    <% else %> 
       <% if @user_wishlist %>
         <%= button_to 'Remove from wishlist', product_wishlist_path(@product, @user_wishlist.id), method: :delete, class: 'wish-button'%>
       <% else %>
          <%= button_to 'Add to wishlist', product_wishlists_path(@product), class: 'button' %>
       <% end %>  
       <div id="addbtnfld"><%= display_add_button(@product).html_safe %></div>  
    <% end %> 
    </p> 
      <p>
        <%= link_to pluralize(@product.reviews.size, 'Review'), product_reviews_url(@product), class: 'button' %>
        <%= link_to 'Write review', new_product_review_path(@product), class: 'button' %>   
      </p>  
      <% if admin_user? %>
      <div id="prod_links">
        <%= link_to "Edit product", edit_product_path(@product) %> |
        <%= link_to 'Delete product', product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %> |
        <%= link_to 'Cancel', products_path %>
      </div>
      <% end %>     
  <% if admin_user? %>
    <h2><%= pluralize(@customers.size, 'customer') %> added this product to their wishlist.</h2>
    <% @customers.each do |customer| %>
      <li><%= link_to customer.name, user_path(customer) %></li>
    <% end %>
  <% end %>  
  <%= link_to 'Return', products_path,  class: 'button' %>
</article>
</div>