<header id="pheader">
<div id="headernav">
  <h1><%= link_to ' ', products_path %></h1>
  <nav>
      <p>
      	<% if logged_user %>
          Hello, <%= link_to logged_user.name, logged_user %> 
          <%= link_to "Account Settings", edit_user_path(logged_user) %>
          <%= link_to 'Sign Out', session_path, method: :delete, class: 'header-button' %>
        <% else %>  
          <%= link_to 'Sign Up', signup_path, class: 'header-button' %> 
          <%= link_to 'Sign In', signin_path, class: 'header-button' %>
        <% end %>  
      </p> 
  </nav>  
</div>  
</header>