<!DOCTYPE html>
<html>
<head>
  <title>Sada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div id="main">
    <div id="sidebar">
      <%= render 'layouts/sider_admin' %>
    </div>    
    <div id="cart">
      <%= render 'layouts/sider_user' %>  
    </div> 
    <div id="content"> 
      <%= yield %>
    </div> 
  </div>

  <%= render 'layouts/footer' %>
</body>  
</html> 